<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>key_person_name</key>
		<string>【0】愚者（The Fool）</string>
		<key>key_pai_name</key>
		<string>愚者</string>
		<key>key_pai_keyword</key>
		<string>流浪、自由、无经验的</string>
		<key>key_pai_img</key>
		<string>app_pai_0.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你是爱情的狩猎者，即使是在一厢情愿的单恋，你也义无反顾。恋爱中的你将会有一段天真浪漫的爱情，你们不拘形式，充分恋爱着。你在婚姻中会过于一意孤行，对另一半要求过高，导致自己压力过大。</string>
				<key>11</key>
				<string>你喜欢追求新奇的梦想，喜爱冒险，工作中将突显你的这一品质。切忌一意孤行，过于盲目追求梦想而忽略现实。</string>
				<key>12</key>
				<string>你会做出错误的选择，导致失败的结果。</string>
				<key>13</key>
				<string>你在人际交往中，会过于特立独行，有时候也要多征求他人的意见。</string>
				<key>14</key>
				<string>过大的压力导致你神经衰弱。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>你坦率的表白，会让你得到一份纯洁的爱情。恋爱中你的轻浮，会让感情忽冷忽热，无法安定。婚姻亦是如此。</string>
				<key>11</key>
				<string>因为你缺乏责任感，会让你的工作学习没有发展。没计划也会让你的工作学习止步不前。</string>
				<key>12</key>
				<string>如果孤注一掷，就会有损失。</string>
				<key>13</key>
				<string>你的行为过于乖张，使得你的人际关系受到一定影响。</string>
				<key>14</key>
				<string>此阶段疾病、烦恼会迎刃而解。</string>
			</dict>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>key_person_name</key>
		<string>【1】魔术师（The Magician）</string>
		<key>key_pai_name</key>
		<string>魔术师</string>
		<key>key_pai_keyword</key>
		<string>开始、创造、说服、运用</string>
		<key>key_pai_img</key>
		<string>app_pai_1.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你会有一段新的恋情开始。恋爱中的你，感情会不断增进。求婚的你将会成功。你将会开始新婚生活。</string>
				<key>11</key>
				<string>一切都有一个好的开始。入学、就业、求职、取得资格或技术证明都会很顺利。新的计划也会成功。具有独创性的你，将会有所发展。</string>
				<key>12</key>
				<string>这段时间，你投资理财能得心应手，创造财富。</string>
				<key>13</key>
				<string>你可以试着改变自我，将会有新的收获。</string>
				<key>14</key>
				<string>你可以依靠你的意志，克服疾病。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>偷懒或不坚定的心态导致你的爱情止步不前，对爱情的不专一会导致你的爱情失去控制，甚至在感情问题上受到欺骗，当然，随之变动的还有心情。</string>
				<key>11</key>
				<string>意志力薄弱是你的弱点，你会因此走入错误的方向。用功不足，知识欠缺，缺乏想象力，会让你失业或找不到工作，也会让你很难考上理想的学校。</string>
				<key>12</key>
				<string>容易被骗或遇上骗子，让你在财产上会有所损失。</string>
				<key>13</key>
				<string>你的人际关系将受到一些误会的影响，导致你在亲友中丧失信用，同时还会受到很多指责，在这个阶段，在朋友的事情上一定要谨慎从事，遇事要慎重。</string>
				<key>14</key>
				<string>容易得与肠胃有关的疾病。</string>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>key_person_name</key>
		<string>【2】女祭司（The High Priestess）</string>
		<key>key_pai_name</key>
		<string>女祭司</string>
		<key>key_pai_keyword</key>
		<string>智慧、二元性、思考、直觉、隐藏</string>
		<key>key_pai_img</key>
		<string>app_pai_2.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>具有知性魅力的你，是个独立自主的女性。你很容易在工作或学习中获得爱情，它也许是柏拉图式的。恋情容易走入冷淡，不容易走入婚姻。</string>
				<key>11</key>
				<string>你的才智能让你在学习或工作上获得成就。你有足够的能力进行一些深入研究的工作，能成为研究者、文学家、宗教家等学者。你能进入大学或专科学习知识。</string>
				<key>12</key>
				<string>此阶段你对金钱与物质的欲望有所增强。你敏锐的洞察、准确的直觉会助你一臂之力。</string>
				<key>13</key>
				<string>你对周围的人都充满热心，但却蕴藏在心里。你需要将其表现出来，那会更有助于你们之间的关系。</string>
				<key>14</key>
				<string>充实的生活，让你身心健康，一切都很好。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>过强的自尊心，让你害怕主动表白。恋爱中的你也会因为逞强而不够体贴。婚姻也是如此。</string>
				<key>11</key>
				<string>工作会脱离正常轨道，不要过于注重职务及学历，这会影响你的工作情绪。学习会半途而废，放弃是你最大的敌人。</string>
				<key>12</key>
				<string>过分贪心，会让你因赌博而失财。目光短浅的你，会在投资上不能很好的进行判断。你的过度自信，说明你不适合独自投资或理财，还需多多取经。</string>
				<key>13</key>
				<string>自尊心过高，洁癖，自命不凡，这些都会影响你的人际关系。</string>
				<key>14</key>
				<string>贫血、肠胃病会缠着你。</string>
			</dict>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>key_person_name</key>
		<string>【3】女皇（The Empress）</string>
		<key>key_pai_name</key>
		<string>皇后</string>
		<key>key_pai_keyword</key>
		<string>丰收、怀孕、爱情、母亲</string>
		<key>key_pai_img</key>
		<string>app_pai_3.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>幸福会伴随着你，快乐的恋爱、美丽的婚约、充满祝福的婚姻、幸福的家庭生活，一切都很完满。</string>
				<key>11</key>
				<string>对工作及学习你乐在其中，你会从工作中、学习中获得比想象中更高的评价与回报。你的艺术才能将被不断的发掘出来。</string>
				<key>12</key>
				<string>只要去投资理财，财就会跟着你，意外之财也会随之而来。</string>
				<key>13</key>
				<string>你的人际关系会变的很顺利，你会从朋友那里得到你想要的礼物。</string>
				<key>14</key>
				<string>你的身体状况，让你可以尽情的与大自然接触、愉快的去休闲旅行。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>恋爱婚姻都不尽人意。恋爱毫无进展，遭到家人反对。身边诱惑太多，让你无法专一。婚姻不幸福，更让你心浮气躁。</string>
				<key>11</key>
				<string>工作学习有所怠慢，付出的努力无法获得应有的回报。近期工作会出现变动，不够稳定。</string>
				<key>12</key>
				<string>由于你疏于管理，投资会看不到效果，理财会收不到成果，收入也会随之减少。你甚至会出现资金不足、赤字这样的财政危机。</string>
				<key>13</key>
				<string>学习、工作、感情的不顺心，使得你的心情低落，不愿意与人交流，朋友之间越来越疏离。</string>
				<key>14</key>
				<string>肥胖、与泌尿器官有关的疾病、不孕不育。</string>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>key_person_name</key>
		<string>【4】皇帝（The Emperor）</string>
		<key>key_pai_name</key>
		<string>皇帝</string>
		<key>key_pai_keyword</key>
		<string>支配、成熟、有经验的、深沉</string>
		<key>key_pai_img</key>
		<string>app_pai_4.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>无论在爱情或是婚姻里，你都占领着主导地位。你会把一切都安排好，让对方免于操心。</string>
				<key>11</key>
				<string>你很具有领导才能，坚强的意志，让你干劲十足，不达目的不罢休。强烈的责任感，让你能成为一个真正的领导者。</string>
				<key>12</key>
				<string>投资理财都处于一个稳定的状态，稳中有升。</string>
				<key>13</key>
				<string>你的领导才能，让你在人际关系中始终处于领导者的位置。你很热衷于安排一切或替他人安排。</string>
				<key>14</key>
				<string>你有充足的体力，健康的体魄。你有足够的毅力来维持你锻炼身体的计划。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>爱情、婚姻需要的都不是强人所难，不要总自以为是。在爱情中，要勇于告白，勇于承担，切忌表里不一。</string>
				<key>11</key>
				<string>学习工作中你缺乏自信，行动力不足，意志力薄弱，总喜欢饰演被支配的角色。跳不出这一轮廓，你只会越来越平凡，越来越默默无闻。</string>
				<key>12</key>
				<string>你缺乏自信，缺乏主见，理财投资都不适合你。多听取别人意见，对收益不要有过高的期待，以免事与愿违。</string>
				<key>13</key>
				<string>在你的人际关系中，你总会处于被动地位，你喜欢被支配，这样的你也许会觉得更舒适更安心。</string>
				<key>14</key>
				<string>会有一些小感冒、肥胖。</string>
			</dict>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>key_person_name</key>
		<string>【5】教皇（The Hierophant）</string>
		<key>key_pai_name</key>
		<string>教皇</string>
		<key>key_pai_keyword</key>
		<string>援助、教导、传送与发给、制约</string>
		<key>key_pai_img</key>
		<string>app_pai_5.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>长年的友情发展成新恋情，年下的恋情会更适合你。费尽心力的你会收获爱情的果实。</string>
				<key>11</key>
				<string>学习工作中你会得到很多人的帮助。你的宽宏大量，在你的工作中会对你有很大的帮助。</string>
				<key>12</key>
				<string>你会得到贵人相助。你可以多听取你所信任的人的意见。</string>
				<key>13</key>
				<string>你有很多朋友，你的宽宏大量能感染很多人。你对他人的同情和援助，都让你能收获许多友情。</string>
				<key>14</key>
				<string>良好的心态让你有健康的身心。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>在爱情中，你总是缺乏体贴，缺少责任感。你的爱情观无法得到他人的认同。</string>
				<key>11</key>
				<string>工作学习缺乏目标，更不喜欢遵守规则，这样的你，即使订了计划去做，也未必能达成目标。还需脚踏实地。</string>
				<key>12</key>
				<string>近段时间你的投资计划会落空，财产会有一定程度上的损失。也许会因为错误的情报，恶意的怂恿，失去真正的机会。要多冷静思考，切忌冲动行事。</string>
				<key>13</key>
				<string>在处理人际关系的时候，你比较容易被人利用，你不适合做其中的领导者，默默地交朋友会更适合你。</string>
				<key>14</key>
				<string>会有肝脏疾病，精神状态也不太好。</string>
			</dict>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>key_person_name</key>
		<string>【6】恋人（The Lovers）</string>
		<key>key_pai_name</key>
		<string>恋人</string>
		<key>key_pai_keyword</key>
		<string>结合、选择、合作</string>
		<key>key_pai_img</key>
		<string>app_pai_6.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你会快乐的进入热恋。相信你的魅力，勇敢的去提出邀请，你会成功。你也许会遇上求婚这样令人激动的事，请相信自己的感觉。</string>
				<key>11</key>
				<string>学习工作会很顺利，事业蒸蒸日上，合作伙伴对你而言很重要。</string>
				<key>12</key>
				<string>此时是做出决定的时机，将会出现好的合伙人，可以减轻你的资金压力。你的闲置资金现在可以做些投资了。</string>
				<key>13</key>
				<string>社团活动会有所增加，休闲和交际费用也就随之上涨，可以保持一个良性循环。</string>
				<key>14</key>
				<string>将有爱情滋润的你，身体状态都会很好。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>把恋爱当游戏，最终只会被对方所厌倦，离你而去。你的婚姻生活将出现危机，脚踏两条船，只会加快危机的到来。</string>
				<key>11</key>
				<string>工作学习有所松懈、怠慢，过于自我满足，自我陶醉，不会严格要求自己，目标无法达成。</string>
				<key>12</key>
				<string>投资理财最忌讳道听途说，轻易听信别人，下决定优柔寡断，而你却很容易做这些事。所以你还是让你信得过的人帮你理财更合适。你买起东西来更是毫无节制，过于奢侈浪费的人，不适合理财。</string>
				<key>13</key>
				<string>假情假意的朋友会很多，彼此都不用真心的友情，注定长久不了。</string>
				<key>14</key>
				<string>性病、咽喉炎。</string>
			</dict>
		</dict>
	</dict>
	<key>7</key>
	<dict>
		<key>key_person_name</key>
		<string>【7】战车（The Chariot）</string>
		<key>key_pai_name</key>
		<string>战车</string>
		<key>key_pai_keyword</key>
		<string>胜利、行动、调整</string>
		<key>key_pai_img</key>
		<string>app_pai_7.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>爱情上你很主动，很有主见，会想尽办法努力抓住爱情，不顾一切，义无反顾走入婚姻。</string>
				<key>11</key>
				<string>工作学习很努力，执行力很强，用于尝试新的方式方法，订立的目标一定会完成，你会是胜利者。</string>
				<key>12</key>
				<string>财运比较旺，运气很好，投资思路清晰，更重要的是野心够足，你会获得预期的收益。</string>
				<key>13</key>
				<string>你很有自己的主张，在人际关系处理上很主动，乐于搞气氛，乐于尝试，喜欢旅行，朋友缘很好。</string>
				<key>14</key>
				<string>多多做户外锻炼，多出去走走，体力会增进，健康状况极佳。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>感情上会遇到很大的阻碍，或有情敌出现。你态度过于强硬，只会让感情问题越来越大。</string>
				<key>11</key>
				<string>工作学习中会遭受挫折，遭遇突然的失败，容易发生纠纷。</string>
				<key>12</key>
				<string>投资上突然失误，会有钱财损失。选择逃避，会影响你的信用度。不要选择投机性的理财，会给你带来损失。</string>
				<key>13</key>
				<string>物以类聚，人以群分，不良的伙伴，也会影响到你，请注意选择自己的朋友圈。</string>
				<key>14</key>
				<string>注意交通事故、坐骨神经痛、脱肠。</string>
			</dict>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>key_person_name</key>
		<string>【8】力量（Strength）</string>
		<key>key_pai_name</key>
		<string>力量</string>
		<key>key_pai_keyword</key>
		<string>意志、坚持、克制</string>
		<key>key_pai_img</key>
		<string>app_pai_8.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>很有异性缘，自身魅力极佳，容易得到异性的关注。对待感情很主动，会不顾反对地向心仪对象告白。对于爱情和婚姻，很懂得忍耐和经营。你们会和好如初。</string>
				<key>11</key>
				<string>你作风大胆，敢作敢为，有勇气够果断，懂得用意志战胜困难、突破难关，取得你想得到的东西，如资格证、执照、合格证等。工作学业会进入一个新的发展阶段，会有大的转机出现。</string>
				<key>12</key>
				<string>财政收入稳定，投资收益良好，会有大转机出现，注意把握。</string>
				<key>13</key>
				<string>异性缘佳，朋友中异性很多，而且很处得来，适合扮演“知心姐姐”的角色。你会得到异性的帮助。</string>
				<key>14</key>
				<string>身体健康，体格强壮。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>你们的感情经不起第三者的诱惑，容易出现第三者。信心不足，只会用金钱或肉体来追逐爱情，最终注定失去。</string>
				<key>11</key>
				<string>学习不够用功，考试会失利。沉迷于网络和游戏，精力不够集中，导致失败。</string>
				<key>12</key>
				<string>你挥金如土，月光一族，很难进行理财，投资更没眼光。你可以从存钱开始，循序渐进。</string>
				<key>13</key>
				<string>你胆小而懦弱的性格，朋友会离你而去。很容易屈服于权威之下，虚荣心强，只能结交酒肉朋友。</string>
				<key>14</key>
				<string>容易疲劳，足部受伤、身体变差。</string>
			</dict>
		</dict>
	</dict>
	<key>9</key>
	<dict>
		<key>key_person_name</key>
		<string>【9】隐士（The Hermit）</string>
		<key>key_pai_name</key>
		<string>隐士</string>
		<key>key_pai_keyword</key>
		<string>寻求、年老、身陷黑暗之中却有些许光明</string>
		<key>key_pai_img</key>
		<string>app_pai_9.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你追求真实的爱情，很真诚。即使是柏拉图式的爱情，你也不会有太大的反抗，你热衷于这种爱情长跑，甚至喜欢地下秘密恋情，即刺激又考验耐力。</string>
				<key>11</key>
				<string>工作学习中追求真理，喜欢独自学习研究，更适合研究员、哲学家及思想类的工作。</string>
				<key>12</key>
				<string>你生活节约，爱好存钱。你可以用闲钱来做些小的投资，试着规划一下你的钱财，你会有意想不到的收获。</string>
				<key>13</key>
				<string>你喜欢享受孤独，适合远离喧嚣的隐居生活，朋友并不多。但你会倾听别人的意见，扮演年长者的角色去开导同伴。</string>
				<key>14</key>
				<string>身体健康，没有疾病困扰。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>你喜欢地下恋情，乐于秘密交往，爱情观不够成熟，在爱情中比较虚伪，自以为是，过于骄傲，导致被对方厌恶。</string>
				<key>11</key>
				<string>讨厌学校，不爱学习，适应能力比较差。面临前途的选择，会做出错误的决定。无法适应公司，工作能力不强。</string>
				<key>12</key>
				<string>对生活品质没啥要求，喜欢买便宜货。虽然是便宜货，但也会让钱源源不断流失。</string>
				<key>13</key>
				<string>不善于交际，不懂得用真心付出，很难与人沟通。</string>
				<key>14</key>
				<string>低血压、手或脖子会受伤、疾病无法痊愈。</string>
			</dict>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>key_person_name</key>
		<string>【10】命运之轮（Wheel of Fortune）</string>
		<key>key_pai_name</key>
		<string>命运之轮</string>
		<key>key_pai_keyword</key>
		<string>轮回、转变、好坏交替</string>
		<key>key_pai_img</key>
		<string>app_pai_10.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>一见钟情的爱情，感觉像是命运的安排，偶然的遇到了命中注定的那个他（她）。分手只是暂时的，你们会和好如初，你会比以前更幸福。</string>
				<key>11</key>
				<string>人生面临再一次的挑战，也许换个环境或换个方式会有更好的结果。建议转学、换工作。</string>
				<key>12</key>
				<string>收入状况良好，零时性的收入比较丰富，零用钱会不断增多。</string>
				<key>13</key>
				<string>人际关系出现转折，有新的好的开端，一切会变的顺风顺水，你的幸运之神将会出现。</string>
				<key>14</key>
				<string>身体状况良好，病情会好转，会有转机出现。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>会出现情变，失恋、孽缘让你变得很沮丧。放开这段孽缘，它已经无法再继续了，这才是明智的选择。</string>
				<key>11</key>
				<string>太过相信运气，零时抱佛脚只能让你越来越蹩脚。一切会回到原点，重新开始，记得不要粗心大意，否则虽然努力，却功败垂成。</string>
				<key>12</key>
				<string>会有钱财的损失，容易丢东西，投资计划会泡汤。注意理财的方式方法，切忌进入恶性循环。</string>
				<key>13</key>
				<string>朋友关系恶化，进入死循环，分开一段时间也许会有转机。</string>
				<key>14</key>
				<string>会有慢性疾病。</string>
			</dict>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>key_person_name</key>
		<string>【11】正义（Justice）</string>
		<key>key_pai_name</key>
		<string>正义</string>
		<key>key_pai_keyword</key>
		<string>均衡、衡量、法律、反击</string>
		<key>key_pai_img</key>
		<string>app_pai_11.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>对彼此不够深入了解，对方会脚踏两条船。彼此可以商量着将问题解决。</string>
				<key>11</key>
				<string>读书与玩乐均能得心应手，是全面性的人才。工作中即使身兼数职，也能将任务很好地完成。</string>
				<key>12</key>
				<string>收支平衡，会有借贷发生，但是并不会过于影响生活品质。</string>
				<key>13</key>
				<string>乐于帮助弱者，极富正义感，待人很友好，朋友满天下。</string>
				<key>14</key>
				<string>你需要适度的运动和休息，出去走走，亲近大自然，对你的身体很有好处。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>沉溺于爱情里面，会变的很盲目无知，容易被爱情冲昏了头。要求的太多，就会欲求不满。遇到不适合的对象，要懂得放手。</string>
				<key>11</key>
				<string>工作或学习过于操劳，休息的太少。做事会鲁莽。读书偏科严重，自己也许无法意识到这个问题。</string>
				<key>12</key>
				<string>经济上出现赤字，收支失衡，越来越严重。不适合投资，你会做出偏激而错误的判断。</string>
				<key>13</key>
				<string>偏袒、护犊心重，待人过于严厉，无法接受好友的劝解，容易心里不平衡。</string>
				<key>14</key>
				<string>过度疲劳、关节炎。</string>
			</dict>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>key_person_name</key>
		<string>【12】倒吊人（The Hanged Man）</string>
		<key>key_pai_name</key>
		<string>倒吊人</string>
		<key>key_pai_keyword</key>
		<string>牺牲、付出、考验、受苦</string>
		<key>key_pai_img</key>
		<string>app_pai_12.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>爱情会遭遇困难与阻碍，而你又无法采取行动，致使爱情无法走向好的结果。</string>
				<key>11</key>
				<string>工作学习遇到瓶颈，一时无法突破。考试成绩会让自己很失望。工作会一蹶不振。</string>
				<key>12</key>
				<string>收入会有所下降或持续不涨。对金钱会失去信心，投资会判断失准，钱财会有所损失。</string>
				<key>13</key>
				<string>要学会自我牺牲，多多忍耐，这样情况便会有好转。注意自省，朋友关系就会脱离糟糕的状态。</string>
				<key>14</key>
				<string>入院便能恢复健康。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>耐力不足，导致爱情会无疾而终。逃避的性格，让你的爱情成为一段苦恋，甚至会让小事变得一发不可收拾。</string>
				<key>11</key>
				<string>工作中得不到应有的报酬，变的情绪低落。努力的结果不能得到相应的回报，会让你失去信心。做事不得要领。</string>
				<key>12</key>
				<string>贪心导致失败，得不到应有的报酬，投资会失败，计划会落空，一切努力会变得徒劳无功。</string>
				<key>13</key>
				<string>朋友关系中，你十分以自我为中心，不会体谅他人。不安、焦躁的情绪更会加重你对朋友的肆意妄为。</string>
				<key>14</key>
				<string>害怕入院或手术会招来疾病。</string>
			</dict>
		</dict>
	</dict>
	<key>13</key>
	<dict>
		<key>key_person_name</key>
		<string>【13】死神（Death）</string>
		<key>key_pai_name</key>
		<string>死神</string>
		<key>key_pai_keyword</key>
		<string>结束、该做决定的时候、改变</string>
		<key>key_pai_img</key>
		<string>app_pai_13.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>爱情走入死胡同，不再会有未来可言。恋人会出现分离，婚约会被接触，婚姻会进入坟墓。彼此会因争吵而分手。</string>
				<key>11</key>
				<string>工作学习不求上进，考试会失败，工作会失去目标。会被退学，会轻易放弃计划，没有毅力。</string>
				<key>12</key>
				<string>惯用的思路已经跟不上时局的变化。投资的眼光不再独到锐利。很快一切终将结束，迎来新的开始。</string>
				<key>13</key>
				<string>朋友之间发生的一切将会有一个最终的结果。暂时的别离是全新的出发。和朋友一起，与过去告别，迎来新的旅程。</string>
				<key>14</key>
				<string>重病、灾难。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>爱情婚姻会出现转机，迎来复活。失恋的你会从失恋的痛苦中解脱出来。这段不好的恋情你终于能结束它，从这种糟糕的状况中挣脱出来，获得新生。</string>
				<key>11</key>
				<string>下定决心的改变，给你的工作带来转机。虽然落榜，但你懂得从头再来。</string>
				<key>12</key>
				<string>会获得新的收入，会有意想不到的钱财入账，多年的欠款也许能够追回。</string>
				<key>13</key>
				<string>朋友关系会有新的开始，一切重新再来，挣脱以往的窘境，变得焕然一新。</string>
				<key>14</key>
				<string>疾病会痊愈。</string>
			</dict>
		</dict>
	</dict>
	<key>14</key>
	<dict>
		<key>key_person_name</key>
		<string>【14】节制（Temperance）</string>
		<key>key_pai_name</key>
		<string>节制</string>
		<key>key_pai_keyword</key>
		<string>净化、交流、斟酌、慢慢的给予</string>
		<key>key_pai_img</key>
		<string>app_pai_14.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>两人的感情犹如多年的朋友，很稳定，能互相帮助，在精神上会非常契合，值得互相依赖。懂得克制，能婚姻幸福，安居乐业。</string>
				<key>11</key>
				<string>学习成绩进步不断。工作踏实肯干，工作计划能顺利进行，与同事配合默契。</string>
				<key>12</key>
				<string>生活节俭，钱财一直稳步增长。投资理财相得益彰，让你不会为了钱而烦恼。</string>
				<key>13</key>
				<string>在朋友关系中，懂得自我控制，摆正立场，理性多于感性，能将自己的欲望克制的很好。</string>
				<key>14</key>
				<string>健全的精神，良好的身体状况。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>恋情很幼稚，不知道要怎么处理，过于理想，容易动摇。性取向有问题。</string>
				<key>11</key>
				<string>做事不得要领，白白浪费时间，自视过高导致失败。在学校的社团活动，会成为学习的负担。</string>
				<key>12</key>
				<string>奢侈的生活，过于虚荣的心，让你的钱财无法留住。金钱浪费过多，没有闲钱进行投资。</string>
				<key>13</key>
				<string>因为欲望过多，看不清世间险恶，没啥长进，会失去很多朋友，会在朋友中丧失信用。</string>
				<key>14</key>
				<string>过度享受美食而导致肥胖，视神经遭到损害。</string>
			</dict>
		</dict>
	</dict>
	<key>15</key>
	<dict>
		<key>key_person_name</key>
		<string>【15】魔鬼（The Devil）</string>
		<key>key_pai_name</key>
		<string>魔鬼</string>
		<key>key_pai_keyword</key>
		<string>诅咒、本能与欲望、迷惑、限制</string>
		<key>key_pai_img</key>
		<string>app_pai_15.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>爱情出现恶魔，会有背叛，有外遇，有通奸，有欺骗，各种不和谐，不美好，不幸福。</string>
				<key>11</key>
				<string>职业生涯走入歧路，开始从事不正当的行业。学习工作都会误入歧途，甚至会去偷窃、犯罪。</string>
				<key>12</key>
				<string>除非是有不正当的收入，否则钱财会负增长，会被人诈骗，造成巨大损失。</string>
				<key>13</key>
				<string>交友不慎，会被朋友出卖、背叛，落入朋友的圈套与阴谋中，让自己变得堕落而无法自拔。</string>
				<key>14</key>
				<string>与皮肤、关节、手指等有关的疾病。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>感情的黑暗期会过去，孽缘会结束，真心会得到肯定。爱情会逐渐走向稳定，一切会变得愉快。</string>
				<key>11</key>
				<string>工作学习走入正轨，能获得正确的知识，设立的目标能够达成，上进心逐渐呈现，会获得意想之中的成果。</string>
				<key>12</key>
				<string>生活走入正轨，钱财会开始有积累。你可以做一些小的投资，切忌期望过高。</string>
				<key>13</key>
				<string>跟过去的不好说再见，与狐朋狗友切断联系，忘记以前的仇恨，重新开始。</string>
				<key>14</key>
				<string>一切疾病都会好转，戒烟戒酒、改善生活。</string>
			</dict>
		</dict>
	</dict>
	<key>16</key>
	<dict>
		<key>key_person_name</key>
		<string>【16】塔（The Tower）</string>
		<key>key_pai_name</key>
		<string>塔</string>
		<key>key_pai_keyword</key>
		<string>毁灭、冲击、放弃、灾难、神之住所与考验</string>
		<key>key_pai_img</key>
		<string>app_pai_16.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你的爱情会出现谣言作乱，恋情会因此而破碎。你或许正与一个不好的男人交往。出轨、通奸都会得到应有的报应。</string>
				<key>11</key>
				<string>对自己过于自信而疏忽努力，从而使得成绩滑落，甚至会遭遇退学或被停学。老师或上司会对你失去信任感，这对你的学习或工作很不利。</string>
				<key>12</key>
				<string>会有大笔的钱财损失，财政出现严重赤字。投资理财在此阶段都不适合，请谨慎。</string>
				<key>13</key>
				<string>你过于骄傲自大，待人傲慢而又有偏见，使得你身边的朋友都不会付出真心。情况急转直下，你也许会失去一切。</string>
				<key>14</key>
				<string>烧伤、入院、病情每况愈下。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>争吵虽然结束，但彼此之间已经留下了不信任感，爱情会冷却，最终会在短时间内结束。</string>
				<key>11</key>
				<string>虽然想重新开始，但却会失败。你会失去追寻目标的勇气，一切变的很糟糕，考试也是一塌糊涂。</string>
				<key>12</key>
				<string>投资会做出错误的判断，损失一些金钱。工作失败，导致收入下降。</string>
				<key>13</key>
				<string>会遇上帮人背黑锅的事，麻烦和事故都会轻松解决。</string>
				<key>14</key>
				<string>精神官能症。</string>
			</dict>
		</dict>
	</dict>
	<key>17</key>
	<dict>
		<key>key_person_name</key>
		<string>【17】星星（The Star）</string>
		<key>key_pai_name</key>
		<string>星星</string>
		<key>key_pai_keyword</key>
		<string>希望、祝福、因难过流泪</string>
		<key>key_pai_img</key>
		<string>app_pai_17.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你会获得理想中的异性，你有一颗纯真的心，会尽心地奉献自己，充分信任对方。恋情发展的自然而然。</string>
				<key>11</key>
				<string>通过努力，工作或学习会小有成效。你更适合夜晚的工作。</string>
				<key>12</key>
				<string>会有意外之财。理财的成果有所显现。可以进行适当投资，会有收获。</string>
				<key>13</key>
				<string>朋友关系、同事关系都处理的很好，所有的一切都进展顺利。</string>
				<key>14</key>
				<string>疾病会痊愈。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>自作多情、单相思、没有希望是你爱情的关键词。嫉妒、猜忌是你婚姻生活的杀手，切忌！</string>
				<key>11</key>
				<string>厌倦读书或是工作，学习或工作上得不到肯定，没有成就感。自身缺乏创造力，对自己没有信心，对将来感到恐惧。</string>
				<key>12</key>
				<string>金钱观念淡薄，钱财挥洒的很快。近期会有钱财纠纷，投资理财均需谨慎。</string>
				<key>13</key>
				<string>不守信用，导致朋友对你都失去信心。你厌世的态度，也会影响身边的人，让彼此之间的关系变得紧张。</string>
				<key>14</key>
				<string>肥胖、过度疲劳引发的疾病、身体有了变化。</string>
			</dict>
		</dict>
	</dict>
	<key>18</key>
	<dict>
		<key>key_person_name</key>
		<string>【18】月亮（The Moon）</string>
		<key>key_pai_name</key>
		<string>月亮</string>
		<key>key_pai_keyword</key>
		<string>不安、多变</string>
		<key>key_pai_img</key>
		<string>app_pai_18.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>感情会有第三者出现，或是对方正脚踏两条船。你会遭到恋人的背叛。</string>
				<key>11</key>
				<string>学习或工作会用错方法，误入歧途。工作将面临重要的转业，也许会为了家庭而牺牲自己的事业。</string>
				<key>12</key>
				<string>收入不稳定，容易被欺骗，造成财产损失。</string>
				<key>13</key>
				<string>朋友之间没有真诚，暗地里的敌人很多，容易遭到朋友的背叛。朋友对你或你对朋友很敷衍，以至于关系无法得到进展。</string>
				<key>14</key>
				<string>精神性疾病、妇科疾病、小伤、家人生病。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>开始认清对方的真面目，从对方的谎言和虚情假意中解脱出来。你是个多愁善感的人，很能吸引异性的眼球。</string>
				<key>11</key>
				<string>由于自身的意志不坚定，导致工作学习会犯小错误，但最坏的结果不会出现，情况也会逐渐好转。偶尔可以相信你的直觉。</string>
				<key>12</key>
				<string>收入稳定，投资略有所成，会有意外的临时性的收入。</string>
				<key>13</key>
				<string>朋友之间的误会得以解开。你的立场发生改变，适时解决了问题，去除了困难。近期，你将为自己过去的所作所为承担后果。</string>
				<key>14</key>
				<string>身体状况开始好转。</string>
			</dict>
		</dict>
	</dict>
	<key>19</key>
	<dict>
		<key>key_person_name</key>
		<string>【19】太阳（The Sun）</string>
		<key>key_pai_name</key>
		<string>太阳</string>
		<key>key_pai_keyword</key>
		<string>生命、实现、纯真</string>
		<key>key_pai_img</key>
		<string>app_pai_19.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>你的恋情会受到祝福，感情不断加深，最终有个幸福的结局。你很受异性的欢迎。</string>
				<key>11</key>
				<string>考试合格。工作会有个全新的开始，很快会升职，成为生活的赢者。</string>
				<key>12</key>
				<string>你的能力能得到肯定，收入也会因此增加。相信自己的眼光和理念，投资理财收获颇丰。</string>
				<key>13</key>
				<string>能结交良友，待人热情，生活充满活力、积极上进，很受朋友欢迎和信赖。</string>
				<key>14</key>
				<string>身体状况很好，充满活力，要积极运动。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>彼此变得疏远，感情慢慢淡去，面临分离的危机。当初的约定无法实现，幸福不再持续，会解除婚约。</string>
				<key>11</key>
				<string>做事不够踏实，自以为是，过分相信运气而屡屡失败。你时常经受不住外界的诱惑，成绩退步。</string>
				<key>12</key>
				<string>运气低落，预定的计划会延迟完成，资金也会随之受影响。工作表现不尽人意，收入也会因此减少。生活奢侈、浪费，让你钱包越来越“瘦”。</string>
				<key>13</key>
				<string>你总是会嫉妒他人的成功和才能，自卑而意志消沉。</string>
				<key>14</key>
				<string>健康状况恶劣，对自己的身体过于自信而不加重视，以至于生病而不自知。</string>
			</dict>
		</dict>
	</dict>
	<key>20</key>
	<dict>
		<key>key_person_name</key>
		<string>【20】审判（Judgement）</string>
		<key>key_pai_name</key>
		<string>审判</string>
		<key>key_pai_keyword</key>
		<string>复活、觉醒、知道结果</string>
		<key>key_pai_img</key>
		<string>app_pai_20.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>爱人之间言归于好，感情升温，步入婚姻殿堂。你会遇到初恋情人，有可能旧情复燃。</string>
				<key>11</key>
				<string>从内心产生坚定的信念，能东山再起，从头再来，重新开始，迎来新的黎明。</string>
				<key>12</key>
				<string>一切回到原点，重新开始。能获得一臂之力而达到目的，扭亏为盈。你会继承家业。</string>
				<key>13</key>
				<string>会遇见老朋友，与他们重归于好。能得到朋友的帮助，重新再出发。</string>
				<key>14</key>
				<string>恢复健康、手术成功。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>你从心底对你的感情感到失望，旧日的伤痛让你们无法重修旧好，分手的结果已经无法避免。</string>
				<key>11</key>
				<string>做事优柔寡断，无法在关键问题上下决心。工作态度轻浮，上不来台面。自卑感强，性格懦弱，不适合从事销售、公关等工作。</string>
				<key>12</key>
				<string>负债严重，无法偿还，收入下降，生活负担承重。</string>
				<key>13</key>
				<string>与朋友暧昧不清，优柔寡断，义气不够，勇气不足，朋友会越来越少。</string>
				<key>14</key>
				<string>体弱多病、疾病难以痊愈、胃肠病。</string>
			</dict>
		</dict>
	</dict>
	<key>21</key>
	<dict>
		<key>key_person_name</key>
		<string>【21】世界（The World）</string>
		<key>key_pai_name</key>
		<string>世界</string>
		<key>key_pai_keyword</key>
		<string>达成、完美、完成命运、完成后衔接的另一个开始</string>
		<key>key_pai_img</key>
		<string>app_pai_21.jpg</string>
		<key>key_pai_meaning</key>
		<dict>
			<key>key_forword</key>
			<dict>
				<key>10</key>
				<string>单恋将会有结果，获得一份人人称羡的爱情。热恋之后是诚心的求婚，最后得到幸福的婚姻。</string>
				<key>11</key>
				<string>考试合格，达到预期的目标，留学成功。找工作的你会找到一份理想的工作。独立创业是好的开始。职场上的你会步步高升。</string>
				<key>12</key>
				<string>事业成功，带给你很高的收入。独到的投资眼光，让你成为强者。以往的借款都能还清。</string>
				<key>13</key>
				<string>在朋友中有很好的声誉，人格高尚，交往中能游刃有余。</string>
				<key>14</key>
				<string>保持良好的健康状态。</string>
			</dict>
			<key>key_ reverse</key>
			<dict>
				<key>10</key>
				<string>恋情没有结果，婚姻无法持续，婚约会被解除，会错失良缘。</string>
				<key>11</key>
				<string>工作学习上的烦恼不断增加，会离开学校或工作岗位，无法继续努力。时常半途而废或是徒劳无功。</string>
				<key>12</key>
				<string>经济不景气，投资会失败，理财会亏损，收入状况恶化，钱财越来越少。</string>
				<key>13</key>
				<string>朋友关系停滞不前，朋友之间的约定也无法履行，总是留恋过去而没有新的进展。</string>
				<key>14</key>
				<string>身体衰弱、心脏病、头部受伤、手术结果不理想。</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
