<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>direction_love</key>
	<array>
		<dict>
			<key>jia_mi</key>
			<false/>
			<key>img_btn</key>
			<string></string>
			<key>img_btn_sec</key>
			<string></string>
			<key>pai_zhen</key>
			<string></string>
		</dict>
		<dict>
			<key>jia_mi</key>
			<false/>
			<key>img_btn</key>
			<string></string>
			<key>img_btn_sec</key>
			<string></string>
			<key>pai_zhen</key>
			<string></string>
		</dict>
		<dict>
			<key>jia_mi</key>
			<false/>
			<key>img_btn</key>
			<string></string>
			<key>img_btn_sec</key>
			<string></string>
			<key>pai_zhen</key>
			<string></string>
		</dict>
		<dict>
			<key>jia_mi</key>
			<false/>
			<key>img_btn</key>
			<string></string>
			<key>img_btn_sec</key>
			<string></string>
			<key>pai_zhen</key>
			<string></string>
		</dict>
		<dict>
			<key>jia_mi</key>
			<false/>
			<key>img_btn</key>
			<string></string>
			<key>img_btn_sec</key>
			<string></string>
			<key>pai_zhen</key>
			<string></string>
		</dict>
		<dict>
			<key>jia_mi</key>
			<false/>
			<key>img_btn</key>
			<string></string>
			<key>img_btn_sec</key>
			<string></string>
			<key>pai_zhen</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
