<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>一张牌</string>
		<key>key_question</key>
		<string>一般问题</string>
		<key>key_zhen_number</key>
		<integer>1</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>问题的答案</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>200</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>5,11,12,18,19</string>
		<key>key_zhen_name</key>
		<string>二选一</string>
		<key>key_question</key>
		<string>两难问题</string>
		<key>key_zhen_number</key>
		<integer>5</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>问卜者现在的情况或事情的现状</string>
			<string>做出第一种选择后会出现的情况</string>
			<string>做出第一种选择后造成的影响</string>
			<string>做出第二种选择后会出现的情况</string>
			<string>做出第二种选择后造成的影响</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>353</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>105</integer>
					<key>key_y</key>
					<integer>233</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>83</integer>
					<key>key_y</key>
					<integer>113</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>216</integer>
					<key>key_y</key>
					<integer>233</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>238</integer>
					<key>key_y</key>
					<integer>113</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>6,13,20</string>
		<key>key_zhen_name</key>
		<string>圣三角</string>
		<key>key_question</key>
		<string>短时间内的问题或是非问题</string>
		<key>key_zhen_number</key>
		<integer>3</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>过去</string>
			<string>现在</string>
			<string>未来</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>78</integer>
					<key>key_y</key>
					<integer>205</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>205</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>242</integer>
					<key>key_y</key>
					<integer>205</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>未来发展</string>
		<key>key_question</key>
		<string>事情未来的发展</string>
		<key>key_zhen_number</key>
		<integer>6</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>你现在的状况</string>
			<string>你的爱情发展</string>
			<string>你的工作/事业发展</string>
			<string>你的金钱/财富发展</string>
			<string>你的地位/成就</string>
			<string>最后的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_bg_path</key>
			<string>paizhen_bg_path_4.png</string>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>161</integer>
					<key>key_y</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>67</integer>
					<key>key_y</key>
					<integer>148</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>254</integer>
					<key>key_y</key>
					<integer>148</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>67</integer>
					<key>key_y</key>
					<integer>292</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>254</integer>
					<key>key_y</key>
					<integer>292</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>161</integer>
					<key>key_y</key>
					<integer>365</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>6,7,8,9,16,17,18</string>
		<key>key_zhen_name</key>
		<string>六芒星</string>
		<key>key_question</key>
		<string>事情的来龙去脉</string>
		<key>key_zhen_number</key>
		<integer>7</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>问题的过去状况</string>
			<string>问题的现在状况</string>
			<string>问题的未来状况</string>
			<string>解决此问题的对应办法</string>
			<string>周围的状况</string>
			<string>本人的态度——希望或恐惧</string>
			<string>最终的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_bg_path</key>
			<string>paizhen_bg_path_5.png</string>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>161</integer>
					<key>key_y</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>254</integer>
					<key>key_y</key>
					<integer>292</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>67</integer>
					<key>key_y</key>
					<integer>292</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>161</integer>
					<key>key_y</key>
					<integer>365</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>67</integer>
					<key>key_y</key>
					<integer>148</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>254</integer>
					<key>key_y</key>
					<integer>148</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>161</integer>
					<key>key_y</key>
					<integer>218</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>6,7,8,9,10,11,18,19,20,21</string>
		<key>key_zhen_name</key>
		<string>克尔特十字</string>
		<key>key_question</key>
		<string>事情全方位的情况</string>
		<key>key_zhen_number</key>
		<integer>10</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>问题的现状</string>
			<string>碰到的障碍或援助</string>
			<string>你的理想状况</string>
			<string>你的本意</string>
			<string>问题的过去状况</string>
			<string>问题的未来状况</string>
			<string>你的现状</string>
			<string>周围环境对问题的影响</string>
			<string>你对问题的期望</string>
			<string>问题的最终结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>112</integer>
					<key>key_y</key>
					<integer>225</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>112</integer>
					<key>key_y</key>
					<integer>225</integer>
					<key>key_angle</key>
					<integer>270</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>112</integer>
					<key>key_y</key>
					<integer>112</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>37</integer>
					<key>key_y</key>
					<integer>226</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>112</integer>
					<key>key_y</key>
					<integer>340</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>208</integer>
					<key>key_y</key>
					<integer>225</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>284</integer>
					<key>key_y</key>
					<integer>359</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>284</integer>
					<key>key_y</key>
					<integer>257</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>284</integer>
					<key>key_y</key>
					<integer>156</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>284</integer>
					<key>key_y</key>
					<integer>54</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>7</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>爱情金字塔</string>
		<key>key_question</key>
		<string>与恋人关系的未来发展</string>
		<key>key_zhen_number</key>
		<integer>4</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>占卜者</string>
			<string>占卜者的对象</string>
			<string>双方之间的关系</string>
			<string>双方未来的发展</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>271</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>91</integer>
					<key>key_y</key>
					<integer>271</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>230</integer>
					<key>key_y</key>
					<integer>271</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>158</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>0,1,2,3,4,5,6</string>
		<key>key_zhen_name</key>
		<string>婚姻的预测</string>
		<key>key_question</key>
		<string>婚姻状况</string>
		<key>key_zhen_number</key>
		<integer>7</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>你自己</string>
			<string>过去的婚姻状况</string>
			<string>现在的婚姻状况</string>
			<string>婚姻问题</string>
			<string>对婚姻的期望</string>
			<string>对婚姻的恐惧</string>
			<string>最后的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>214</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>85</integer>
					<key>key_y</key>
					<integer>289</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>235</integer>
					<key>key_y</key>
					<integer>289</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>344</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>85</integer>
					<key>key_y</key>
					<integer>140</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>235</integer>
					<key>key_y</key>
					<integer>140</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>84</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>9</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>一见钟情</string>
		<key>key_question</key>
		<string>与某异性的缘分</string>
		<key>key_zhen_number</key>
		<integer>3</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>我对他的印象</string>
			<string>他对我的印象</string>
			<string>关系发展的可能性</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>78</integer>
					<key>key_y</key>
					<integer>205</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>205</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>242</integer>
					<key>key_y</key>
					<integer>205</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>运程</string>
		<key>key_question</key>
		<string>工作学习整体的运势</string>
		<key>key_zhen_number</key>
		<integer>6</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>过去到现在的状况</string>
			<string>过去到现在的状况</string>
			<string>现在到未来的状况</string>
			<string>现在到未来的状况</string>
			<string>未来的发展、最后的结果</string>
			<string>未来的发展、最后的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>96</integer>
					<key>key_y</key>
					<integer>103</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>224</integer>
					<key>key_y</key>
					<integer>103</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>164</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>280</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>96</integer>
					<key>key_y</key>
					<integer>341</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>224</integer>
					<key>key_y</key>
					<integer>341</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>X字牌型</string>
		<key>key_question</key>
		<string>一件事的胜算</string>
		<key>key_zhen_number</key>
		<integer>5</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>自己的心态</string>
			<string>眼前的时机</string>
			<string>成功因素</string>
			<string>影响因素</string>
			<string>最后的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>219</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>91</integer>
					<key>key_y</key>
					<integer>102</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>229</integer>
					<key>key_y</key>
					<integer>102</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>91</integer>
					<key>key_y</key>
					<integer>336</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>229</integer>
					<key>key_y</key>
					<integer>336</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>当前财运</string>
		<key>key_question</key>
		<string>把握当前财运的办法</string>
		<key>key_zhen_number</key>
		<integer>7</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>过去的状况</string>
			<string>现在的状况</string>
			<string>未来的状况</string>
			<string>最佳的选择</string>
			<string>环境的影响</string>
			<string>面临的阻碍</string>
			<string>最后的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>67</integer>
					<key>key_y</key>
					<integer>78</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>84</integer>
					<key>key_y</key>
					<integer>180</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>102</integer>
					<key>key_y</key>
					<integer>283</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>360</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>218</integer>
					<key>key_y</key>
					<integer>283</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>236</integer>
					<key>key_y</key>
					<integer>180</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>254</integer>
					<key>key_y</key>
					<integer>78</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>13</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>X字牌型</string>
		<key>key_question</key>
		<string>一件事的胜算</string>
		<key>key_zhen_number</key>
		<integer>5</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>自己的心态</string>
			<string>眼前的时机</string>
			<string>成功因素</string>
			<string>影响因素</string>
			<string>最后的结果</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>219</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>91</integer>
					<key>key_y</key>
					<integer>102</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>229</integer>
					<key>key_y</key>
					<integer>102</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>91</integer>
					<key>key_y</key>
					<integer>336</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>229</integer>
					<key>key_y</key>
					<integer>336</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>14</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>3,7,11,15</string>
		<key>key_zhen_name</key>
		<string>四要素</string>
		<key>key_question</key>
		<string>未来的可能变化</string>
		<key>key_zhen_number</key>
		<integer>4</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>火要素，代表未来努力的方向及精神方面的东西。与工作相关时，指上级或客户。</string>
			<string>土要素，代表未来的物质及财富状况。问与特定人的关系时，代表性。</string>
			<string>风要素，代表现在遇到的问题或伤害。</string>
			<string>水要素，代表人际关系及感情方面的情况。与工作相关时，也表示同事或下级。</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>107</integer>
					<key>key_y</key>
					<integer>152</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>107</integer>
					<key>key_y</key>
					<integer>287</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>213</integer>
					<key>key_y</key>
					<integer>287</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>213</integer>
					<key>key_y</key>
					<integer>152</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>15</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>友谊牌阵</string>
		<key>key_question</key>
		<string>友谊</string>
		<key>key_zhen_number</key>
		<integer>6</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>你对对方的看法</string>
			<string>对方对你的看法</string>
			<string>你认为的双方关系</string>
			<string>对方认为的双方关系</string>
			<string>你期望的双方关系</string>
			<string>对方期望的双方关系</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>92</integer>
					<key>key_y</key>
					<integer>153</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>153</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>228</integer>
					<key>key_y</key>
					<integer>153</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>92</integer>
					<key>key_y</key>
					<integer>276</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>276</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>228</integer>
					<key>key_y</key>
					<integer>276</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>16</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>平安扇</string>
		<key>key_question</key>
		<string>与某个人的关系</string>
		<key>key_zhen_number</key>
		<integer>4</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>问卜当事人目前的人际关系状况</string>
			<string>问卜当事人与对方结识的因缘</string>
			<string>双方关系未来的发展趋势</string>
			<string>对双方关系的结论</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>79</integer>
					<key>key_y</key>
					<integer>185</integer>
					<key>key_angle</key>
					<integer>340</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>242</integer>
					<key>key_y</key>
					<integer>178</integer>
					<key>key_angle</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>172</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>300</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>17</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>七行星</string>
		<key>key_question</key>
		<string>个人运势（与人疾病有关）</string>
		<key>key_zhen_number</key>
		<integer>7</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>月亮，代表家庭因素或安全感。</string>
			<string>水星，代表商业贸易，也代表与他人的交流和互动。</string>
			<string>金星，代表财务及人际关系，也代表人的感情生活。</string>
			<string>太阳，代表地位和荣耀，并与个人的自我表现有关。</string>
			<string>火星，代表问题和冲突，并与个人的行动能力有关。</string>
			<string>木星，代表机会和幸运，并与个人的长远目标有关。</string>
			<string>土星，代表责任与限制，也和人的疾病有关。</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>107</integer>
					<key>key_y</key>
					<integer>354</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>54</integer>
					<key>key_y</key>
					<integer>259</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>107</integer>
					<key>key_y</key>
					<integer>165</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>72</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>213</integer>
					<key>key_y</key>
					<integer>165</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>266</integer>
					<key>key_y</key>
					<integer>259</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>213</integer>
					<key>key_y</key>
					<integer>354</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>18</key>
	<dict>
		<key>key_zhen_auto</key>
		<false/>
		<key>key_zhen_name</key>
		<string>自我探索</string>
		<key>key_question</key>
		<string>精神层面的详细状况</string>
		<key>key_zhen_number</key>
		<integer>4</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>内心深处</string>
			<string>精神生活</string>
			<string>知识领域</string>
			<string>感情生活</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>224</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>100</integer>
					<key>key_y</key>
					<integer>311</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>220</integer>
					<key>key_y</key>
					<integer>311</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>117</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>19</key>
	<dict>
		<key>key_zhen_auto</key>
		<true/>
		<key>key_zhen_auto_index</key>
		<string>6,7,8</string>
		<key>key_zhen_name</key>
		<string>身心灵</string>
		<key>key_question</key>
		<string>每日运势；身心状况；两人相处状况</string>
		<key>key_zhen_number</key>
		<integer>3</integer>
		<key>key_zhen_positon_sense</key>
		<array>
			<string>身，代表身体的状况或事情对身体状况的影响。</string>
			<string>心，代表心里状况或事件对心里的影响。</string>
			<string>灵，代表精神状态或事件对精神的影响。</string>
		</array>
		<key>key_position</key>
		<dict>
			<key>key_pai_path</key>
			<array>
				<dict>
					<key>key_x</key>
					<integer>92</integer>
					<key>key_y</key>
					<integer>234</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>228</integer>
					<key>key_y</key>
					<integer>234</integer>
				</dict>
				<dict>
					<key>key_x</key>
					<integer>160</integer>
					<key>key_y</key>
					<integer>122</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
